body {
  font-family: monospace;
  background-color: #eceff4;
  color: #2e3440;
  font-size: 1rem;
  margin: 1rem;
}

p {
  line-height: 1.35rem;
}

a,
a:visited {
  color: #3b4252;
}

h2 {
  margin-bottom: 0.5rem;
}

section {
  margin-bottom: 1.5rem;
}

.profile {
  display: inline-flex;
  flex-wrap: wrap-reverse;
  margin-bottom: 1rem;
  justify-content: center;
}

.profile .picture {
  border-radius: 100%;
  max-width: 10rem;
  margin-right: 1rem;
  flex: 0 1 auto;
}

.profile .info {
  max-width: 20rem;
  margin-right: auto;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #2e3440;
    color: #eceff4;  
  }

  a,
  a:visited {
    color: #d8dee9;
  }
}
