body {
  font-family: monospace;
  background-color: #fdfdfd;
  color: #151515;
  font-size: 1rem;
  margin: 1rem;
}

.profile {
  display: flex;
  flex-wrap: wrap-reverse;
  margin-bottom: 1rem;
  justify-content: center;
}

.profile .picture {
  max-width: 10rem;
  margin-right: 1rem;
  flex: 0 1 auto;
}

.profile .info {
  max-width: 20rem;
  margin-right: auto;
}

a,
a:visited {
  color: #3f3f3f;
}

h2 {
  margin-bottom: 0.5rem;
}

section {
  margin-bottom: 1.5rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1a1a1a;
    color: #dfdfdf;  
  }

  a,
  a:visited {
    color: #afafaf;
  }
}
